.slide {
    position: relative;

    .btn {
        position: absolute;
        cursor: pointer;
        background-color: transparent;
        border: none;

        &.btn-left {
            top: 50%;
            left: 25px;
            transform: translate(-50%,-50%);
        }
        &.btn-right {
            top: 50%;
            right: 25px;
            transform: translate(50%,-50%);
        }
    }
    .btn > img {
        width: 50px;
    }
}