main {
    margin: 50px 100px 30px 100px;
}

@media screen and (min-width:1025px) and (max-width:1200px) {

    main,
    .navigation {
        margin: 50px 50px 30px 50px;
    }

}

@media screen and (min-width:769px) and (max-width:1024px) {

    main {
        margin: 50px 50px 30px 50px;
    }

}

@media screen and (min-width:481px) and (max-width:768px) {

    main,
    .navigation {
        margin: 30px;
    }

    .navigation {

        & ul li {
            font-size: 16px;
            text-transform: uppercase;
        }

        & .logo img {
            width: 150px;
        }
    }

}

@media screen and (max-width:480px) {

    main,
    .navigation {
        margin: 30px;
    }

    .navigation {

        & ul li {
            font-size: 12px;
            text-transform: uppercase;
        }

        & .logo img {
            width: 100px;
        }
    }

}