.slide {
    position: relative;

    .btn {
        position: absolute;
        cursor: pointer;
        background-color: transparent;
        border: none;

        &.btn-left {
            top: 50%;
            left: 25px;
            transform: translate(-50%,-50%);
        }
        &.btn-right {
            top: 50%;
            right: 25px;
            transform: translate(50%,-50%);
        }
    }
    .position {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translate(-50%,50%);

        font-size: 18px;
        color: white;

        display: flex;
        align-items: flex-end;
        text-align: center;
    }
    .btn > img {
        width: 50px;
    }
}

@media screen and (max-width:768px) {
    .slide .btn > img {
        width: 30px;
    }
}